* {
    box-sizing: border-box;
    font-family: 'Ubuntu', Verdana, Geneva, Tahoma, sans-serif;
    
}

body {
    font-family: 'Ubuntu', Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
    color: #333;
  }
  
  .container {
    max-width: 1200px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h1, h2 {
    text-align: center;
    color: #444;
  }
  1
  .menu {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .menu button {
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: red;
    color: white;
    font-size: 20px;
    transition: background-color 0.3s;
    font-family: 'Ubuntu', Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .menu button:hover {
    background-color: red;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-family: 'Ubuntu', Verdana, Geneva, Tahoma, sans-serif;
  }
  
  input, button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    font-family: 'Ubuntu', Verdana, Geneva, Tahoma, sans-serif;
  }
  
  button {
    background-color: red;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Ubuntu', Verdana, Geneva, Tahoma, sans-serif;
  }
  
  button:hover {
    background-color: red;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #007bff;
    color: white;
  }
  
  .hidden {
    display: none;
  }
  
  .icon {
    margin-right: 5px;
  }

